<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Files</h4>
      <p class="card-description">

      </p>
      <div class="row ">
        <div class="col-md-12 col-12 ">
          <div class="table-responsive">

            <app-bar-options [urlCustomer]="'#/customer/edit/'+ id_customer" [urlPayments]="'#/policy/payments/'+ id"
              [urlStatus]="'#/policy/status/'+ id" [urlFiles]="'#/policy/files/'+ id"  [urlVins]="'#/policy/vins/'+ id"
              [urlPhotos]="'#/policy/photos/'+ id" [urlNotes]="'#/policy/notes/'+ id" [urlBank]="'#/policy/bank/'+ id"
              [urlUpload]="'#/policy/new/files/'+id + '/0'" [UploadText]="'Upload File'" [ShowBtn]="true">
            </app-bar-options>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    Customer
                  </th>
                  <th>
                    Policy Number
                  </th>

                  <th>
                    Type
                  </th>
                  <th>
                    Create date
                  </th>
                  <th>
                    File
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of files">
                  <td>
                    {{item.user.full_name}}
                  </td>
                  <td>
                    {{item.policy.policy_number}}
                  </td>
                  <td>
                    {{item.typeFile.name}}
                  </td>
                  <td>
                    {{item.create_date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{item.file}}
                  </td>
                  <td>
                    <a class="badge badge-info  ml-1" href="{{download(item.file)}}" target="_blank">Download</a>
                    <!--<button class="badge badge-danger ml-1">Delete</button>-->
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>