<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Sales Report Without Dealer</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <form class="form-sample" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
           
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                  <p *ngIf="submitted && f.name.errors">Name is required</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">New Business</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Name" formControlName="nb" />
                  <p *ngIf="submitted && f.name.errors">New Business is required</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">New ADC</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Name" formControlName="nb_adc" />
                  <p *ngIf="submitted && f.name.errors">New ADC is required</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success mr-2" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="row ">
        <div class="col-md-12 text-right">

          <a class="btn btn-success  " href="#/employee/goal/form/{{id}}">New Goal <i class="mdi mdi-plus"></i></a>

          <a class="btn btn-primary  ml-1" href="#/employee/goal/report/{{id}}">Report <i class="mdi mdi-plus"></i></a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="header-table">
            <tr>
              <th>
                Name
              </th>
              <th>
                Goals
              </th>
              <th>
                Period
              </th>
              <th>
                Create date
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>