.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #e65251;
    /* border-color: #a515a5 #2e5984 #fff; */
}
.nav-tabs .nav-link {
    border: 1px solid #ff07074f !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
p{
    color:red;
}