<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Wizard Customer</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <div class="col-md-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Customer Information</a>
              <a class="nav-item nav-link" id="nav-policy-tab" data-toggle="tab" href="#nav-policies" role="tab"
                aria-controls="nav-profile" aria-selected="false">Policy Information</a>

              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Complete Payment</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <form class="form-sample col-md-12" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmitEmployee()">
                  <p class="card-description">
                    Customer:
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                          <p *ngIf="submitted && f.name.errors">Name is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" />
                          <p *ngIf="submitted && f.last_name.errors">Last Name is required</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Ajo Way 505 "
                            formControlName="address" />
                          <p *ngIf="submitted && f.address.errors">Address is required</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">State</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Arizona" formControlName="state" />
                          <p *ngIf="submitted && f.state.errors">State is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Zip Code</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="5896" formControlName="zipcode" />
                          <p *ngIf="submitted && f.zipcode.errors">Zip is required</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <p>Contact information:</p>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" placeholder="example@domain.com"
                            formControlName="email" />
                          <p *ngIf="submitted && f.email.errors">Email is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Phone" formControlName="phone"
                            mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                          <p *ngIf="submitted && f.phone.errors">Phone is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Home Phone</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Phone" formControlName="home_phone"
                            mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                          <p *ngIf="submitted && f.home_phone.errors">Home Phone is required</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Work Phone</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Phone" formControlName="work_phone"
                            mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                          <p *ngIf="submitted && f.work_phone.errors">Work Phone is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-danger mr-2" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-policies" role="tabpanel" aria-labelledby="nav-profile-tab">

              <div class="row">
                <form class="form-sample col-md-12" [formGroup]="registerPolicy" (ngSubmit)="onSubmiPolicy()">
                  <p class="card-description">
                    Insurance:
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">LLC</label>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="id_llc" (change)="LoadCompanies()">
                            <option *ngFor="let item of llc_types" value="{{item.id}}">{{item.name}} </option>
                          </select>
                          <p *ngIf="submittedPolicyForm && p.id_llc.errors"> LLC is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Type</label>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="id_policy_type">
                            <option *ngFor="let item of policy_types" value="{{item.id}}">{{item.name}} </option>
                          </select>
                          <p *ngIf="submittedPolicyForm && p.id_llc.errors"> LLC is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Company</label>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="id_company">
                            <option value="0">--Select--</option>
                            <option *ngFor="let item of companies" value="{{item.id}}">{{item.name}} </option>
                          </select>
                          <p *ngIf="submittedPolicyForm && p.id_company.errors"> Company Name is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Policy #</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Policy #"
                            formControlName="policy_number" />
                          <p *ngIf="submittedPolicyForm && p.policy_number.errors">Policy # is required</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Effective Date</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <div class="input-group">

                              <input readonly type="text" class="form-control" formControlName="effective_date"
                                #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">


                            </div>
                          </div>
                          <p *ngIf="submittedPolicyForm && p.effective_date.errors">Effective is required</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Membership #</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Membership #"
                            formControlName="membership_number" />
                          <p *ngIf="submittedPolicyForm && p.membership_number.errors">Membership is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cancelation Date</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <div class="input-group">
                              <input readonly type="text" class="form-control" formControlName="cancel_date"
                                #dp2="bsDatepicker" bsDatepicker [(bsValue)]="cancelDate">
                              <p *ngIf="submittedPolicyForm && p.cancel_date.errors">Cancel is required</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Expiration Date</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <div class="input-group">

                              <input readonly type="text" class="form-control" formControlName="expiration_date"
                                #dp3="bsDatepicker" bsDatepicker [(bsValue)]="expDate">
                              <p *ngIf="submittedPolicyForm && p.expiration_date.errors">Expiration is required</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pending Date</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <div class="input-group">
                              <input readonly type="text" class="form-control" formControlName="pending_date"
                                #dp2="bsDatepicker" bsDatepicker [(bsValue)]="pending_date">
                              <p *ngIf="submittedPolicyForm && p.cancel_date.errors">Cancel is required</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">DUE Date</label>
                        <div class="col-sm-9">
                          <div class="form-group">
                            <div class="input-group">
                              <input readonly type="text" class="form-control" formControlName="due_date"
                                #dp3="bsDatepicker" bsDatepicker [(bsValue)]="due_date">
                              <p *ngIf="submittedPolicyForm && p.expiration_date.errors">Expiration is required</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                          <select disabled type="text" class="form-control" formControlName="status">
                            <option value="0">--Select--</option>
                            <option *ngFor="let item of status" value="{{item.id}}">{{item.name}}</option>
                          </select>

                          <p *ngIf="submittedPolicyForm && p.status.errors">Status is required</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Sub Status</label>
                        <div class="col-sm-9">
                          <select disabled type="text" class="form-control" formControlName="sub_status">
                            <option value="0">--Select--</option>
                            <option *ngFor="let item of sub_status" value="{{item.id}}">{{item.name}}</option>
                          </select>

                          <p *ngIf="submittedPolicyForm && p.status.errors">Sub Status is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p>Dealer information:</p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Dealer</label>
                        <div class="col-sm-9">
                          <select type="email" class="form-control" (change)="SelectDealer()"
                            formControlName="id_dealer">

                            <option value="0">--Select--</option>
                            <option *ngFor="let item of dealers" value="{{item.id}}">{{item.name}}</option>
                          </select>
                          <p *ngIf="submittedPolicyForm && p.id_dealer.errors">Dealer is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Seller name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Seller name"
                            formControlName="seller_name" />
                          <p *ngIf="submittedPolicyForm && p.seller_name.errors">Seller is required</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Delivery Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Delivery Name"
                            formControlName="delivery_name" />
                          <p *ngIf="submittedPolicyForm && p.delivery_name.errors">Delivery is required</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-danger mr-2" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <form class="form-sample col-md-12" [formGroup]="registerPayment" (ngSubmit)="onSubmitPayment()">
                <p class="card-description">
                  Payment:
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>Insurance MP:</label>
                        <select class="form-control" formControlName="ins_method" (change)="ValidateCashier()">
                          <option value="1">CASH</option>
                          <option value="2">DEBIT CARD</option>
                        </select>
                        <p *ngIf="submittedPolicyForm && C.ins_method.errors"> Insurance MP is required</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>Insurance Amount:</label>
                        <input class="form-control" formControlName="insurance_amount" suffix=" $" mask="0*.00" />
                        <p *ngIf="submittedPolicyForm && C.insurance_amount.errors"> Ins Amount is required</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>Office Amount:</label>
                        <input class="form-control" formControlName="office_amount" suffix=" $" mask="0*.00" />
                        <p *ngIf="submittedPolicyForm && C.office_amount.errors"> Office Amount is required</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">                  
                      <div class="col-sm-12">
                        <label>ADC Method:</label>
                        <select class="form-control" formControlName="adc_method" (change)="ValidateCashier()">
                          <option value="1">CASH</option>
                          <option value="2">DEBIT CARD</option>
                          <option value="3">ADC DIRECT PAYMENT</option>
                        </select>
                        <p *ngIf="submittedPolicyForm && C.adc_method.errors"> ADC Method is required</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>ADC Amount:</label>
                        <input class="form-control" formControlName="adc_amount" suffix=" $" mask="0*.00" />
                        <p *ngIf="submittedPolicyForm && C.adc_amount.errors"> ADC Amount is required</p>
                      </div>
                    </div>
                  </div>

                </div>
                <p class="card-description">
                  Cashier:
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>Cashier:</label>
                        <select class="form-control" formControlName="cashier">
                          <option value="0">--select--</option>
                          <option *ngFor="let item of cashiers" value="{{item.id}}">{{item.full_name}}</option>
                        </select>
                        <p *ngIf="submittedPolicyForm && C.cashier.errors"> Cashier is required</p>
                      </div>
                    </div>
                  </div>              
                </div>
                <p>Transaction:</p>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label>Type</label>
                        <select  class="form-control" formControlName="type_transaction">
                          <option *ngFor="let item of payments_types" value="{{item.id}}">{{item.name}}</option>
                        </select>
                        <p *ngIf="submittedPolicyForm && C.type_transaction.errors">Transaction is required</p>
                      </div>
                    </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-danger mr-2" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>