<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pay History</h4>
      <p class="card-description">
      </p>
      <div class="row">
        <div class="col-md-12">
          <form class="form-sample col-md-12" [formGroup]="registerPayment" (ngSubmit)="onSubmitPayment()">
            <p class="card-description">
              Payment:
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Agency:</label>
                    <select class="form-control" formControlName="id_agency">
                      <option *ngFor="let item of agencies" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="registerPayment && C.ins_method.errors"> Insurance MP is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Ticekt Date</label>
                    <input readonly type="text" class="form-control" formControlName="create_date" #dp3="bsDatepicker"
                      bsDatepicker>
                    <p *ngIf="registerPayment && C.create_date.errors">Date is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Insurance MP:</label>
                    <select class="form-control" formControlName="ins_method" (change)="ValidateCashier()">
                      <option value="1">CASH</option>
                      <option value="2">DEBIT CARD</option>
                    </select>
                    <p *ngIf="registerPayment && C.ins_method.errors"> Insurance MP is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Insurance Amount:</label>
                    <input class="form-control" formControlName="insurance_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="registerPayment && C.insurance_amount.errors"> Ins Amount is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Office Amount:</label>
                    <input class="form-control" formControlName="office_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="registerPayment && C.office_amount.errors"> Office Amount is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>ADC Method:</label>
                    <select class="form-control" formControlName="adc_method" (change)="ValidateCashier()">
                      <option value="1">CASH</option>
                      <option value="2">DEBIT CARD</option>
                      <option value="3">ADC DIRECT PAYMENT</option>
                    </select>
                    <p *ngIf="registerPayment && C.adc_method.errors"> ADC Method is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>ADC Amount:</label>
                    <input class="form-control" formControlName="adc_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="registerPayment && C.adc_amount.errors"> ADC Amount is required</p>
                  </div>
                </div>
              </div>
            </div>
            <p class="card-description">
              Cashier:
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Cashier:</label>
                    <select class="form-control" formControlName="cashier">
                      <option value="0">--select--</option>
                      <option *ngFor="let item of cashiers" value="{{item.id}}">{{item.full_name}}</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.cashier.errors"> Cashier is required</p>
                  </div>
                </div>
              </div>
            </div>
            <p>Transaction:</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Type</label>
                    <select class="form-control" formControlName="type_transaction">
                      <option *ngFor="let item of payments_types" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.type_transaction.errors">Transaction is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>