<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Companies List</h4>
      <p class="card-description">
      </p>
      <div class="row ">
        <div class="col-md-12 text-right">
          <a class="btn btn-success  " href="#/company/form">New Company <i class="mdi mdi-plus"></i></a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped ">
          <thead>
            <tr class="header-table">
              <th>
                Name
              </th>
              <th>
                LLC
              </th>
              <th>
                Site
              </th>
              <th>
                Phone
              </th>
              <th>
                Create date
              </th>
             
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
             
              <td>
                {{item.name}}
              </td>
              <td>
                {{item.llc.name}}
              </td>
              <td>
                {{item.site_url}}
              </td>
              <td>
                {{item.phone}}
              </td>
              <td>
                {{item.create_date | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                
                <a href="#/company/form/{{item.id}}" class="badge badge-danger ml-1">View</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>