<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="form-sample" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmit()">
        <p class="card-description">
          Personal info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Full Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Full Name" formControlName="full_name" />
                <p *ngIf="submitted && f.full_name.errors">Full name is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Username" formControlName="username" />
                <p *ngIf="submitted && f.username.errors">Username is required</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="gender">
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
                <p *ngIf="submitted && f.gender.errors">Gender is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Date of birth</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input readonly class="form-control" placeholder="yyyy-mm-dd" formControlName="dob" ngbDatepicker
                      #d="ngbDatepicker" [minDate]="minDate">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary  fa fa-calendar" (click)="d.toggle()"
                        type="button"></button>
                    </div>
                  </div>
                </div>
                <p *ngIf="submitted && f.dob.errors">Dob is required</p>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="role">
                  <option value="1">Admin</option>
                  <option value="2">Agent</option>
                </select>

                <p *ngIf="submitted && f.role.errors">Role is required</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Agency</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="id_agency">
                  <option *ngFor="let item of agencies" value="{{item.id}}">{{item.name}}-{{item.code}}</option>

                </select>
                <p *ngIf="submitted && f.id_agency.errors">Agency is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Is Cashier</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="cashier">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <p *ngIf="submitted && f.cashier.errors">cashier is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>