<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="form-sample" [formGroup]="registerAgencyForm" (ngSubmit)="onSubmit()">
        <p class="card-description">
          Note info
        </p>
        <div class="row">

          <ckeditor  class="col-md-12" [editor]="Editor" data="<p>Hello, world!</p>"
            formControlName="note"></ckeditor>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>