<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Policy Status</h4>
      <p class="card-description">

      </p>
      <div class="row ">
        <div class="col-md-12 col-12  m-1">
          <div class="col-md-12 col-12 ">
            <app-bar-options [urlCustomer]="'#/customer/edit/'+ id_customer" [urlPayments]="'#/policy/payments/'+ id"
              [urlStatus]="'#/policy/status/'+ id" [urlFiles]="'#/policy/files/'+ id "
              [urlPhotos]="'#/policy/photos/'+ id" [urlNotes]="'#/policy/notes/'+ id"
              [urlUpload]="'#policy/new/status/'+id+'/0'" [UploadText]="'New Status'"  [urlBank]="'#/policy/bank/'+ id"
              [ShowBtn]="FlagBtn">
            </app-bar-options>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    Customer
                  </th>
                  <th>
                    Policy Number
                  </th>

                  <th>
                    Type
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Create date
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of status">
                  <td>
                    {{item.policy.customer.name}} {{item.policy.customer.last_name}}
                  </td>
                  <td>
                    {{item.policy.policy_number}}
                  </td>
                  <td>
                    {{item.requeriment.name}}
                  </td>
                  <td>
                    {{item.status_requerinments}}
                  </td>
                  <td>
                    {{item.create_date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <a *ngIf="localPermissions.edit_status" class="badge badge-info  ml-1"
                      href="#/policy/new/status/{{id}}/{{item.id}}">Edit</a>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>