<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title"> Notes</h4>
      <p class="card-description">

      </p>
      <div class="row ">

        <div class="col-md-12 col-12 ">
          <div class="table-responsive">

            <app-bar-options [urlCustomer]="'#/customer/edit/'+ id_customer" [urlPayments]="'#/policy/payments/'+ id"
              [urlStatus]="'#/policy/status/'+ id" [urlFiles]="'#/policy/files/'+ id"
              [urlPhotos]="'#/policy/photos/'+ id" [urlNotes]="'#/policy/notes/'+ id" [urlBank]="'#/policy/bank/'+ id"
              [urlVins]="'#/policy/vins/'+ id" [urlUpload]="'#/policy/new/card/'+id + '/0'" [UploadText]="'Add Card'"
              [ShowBtn]="true">

            </app-bar-options>
          </div>
        </div>

        <div class="col-md-12 col-12 ">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    Credit Card
                  </th>
                  <th>
                    Exp Date
                  </th>

                  <th>
                    CCV
                  </th>
                  <th>
                    Create Date
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of notes">
                <tr>
                  <td>
                    {{formarCard(item.card_number)}}
                  </td>
                  <td>
                    {{item.card_exp | mask:'00/00'}}
                  </td>
                  <td>
                    {{item.back_number | mask:'000'}}
                  </td>
                  <td>
                    {{item.create_date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <a *ngIf="localPermissions.view_cc==1" class="badge badge-info ml-1"
                      href="#/policy/new/card/{{id}}/{{item.id}}">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>