<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Card</h4>
      <p class="card-description">
      </p>
      <div class="row">
        <div class="col-md-12">
          <form class="form-sample col-md-12" [formGroup]="registerCard" (ngSubmit)="onSubmit()">
            <p class="card-description">
              Card Info:
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Card Number</label>
                    <input type="text" class="form-control" placeholder="card Number" formControlName="card_number"  mask="0000-0000-0000-0000" />
                    <p *ngIf="submitted && f.card_number.errors">Name is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Expiration</label>
                    <input type="text" class="form-control" placeholder="Exp" formControlName="card_exp" mask="00/00" />
                    <p *ngIf="submitted && f.card_exp.errors">Exp is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>CCV</label>
                    <input type="text" class="form-control" placeholder="CCV" formControlName="back_number"
                      mask="000" />
                    <p *ngIf="submitted && f.back_number.errors">CCV is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Route Number</label>
                    <input type="text" class="form-control" placeholder="Route Number" formControlName="route_number"
                      mask="0000-0000-0000-0000" />
                    <p *ngIf="submitted && f.route_number.errors">Route Number  is required</p>
                  </div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Route Number</label>
                    <input type="text" class="form-control" placeholder="Account Number" formControlName="account_number"
                      mask="0000-0000-0000-0000" />
                    <p *ngIf="submitted && f.account_number.errors">Account  Number  is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>