<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="form-sample" [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
        <p class="card-description">
          Company info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Full Name" formControlName="name" />
                <p *ngIf="submitted && f.name.errors">name is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Website</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="website" formControlName="website" />
                <p *ngIf="submitted && f.website.errors">website is required</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="phone" formControlName="phone" />
                <p *ngIf="submitted && f.phone.errors">phone is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">LLC</label>
              <div class="col-sm-9">
                <select type="text" class="form-control" formControlName="id_llc">
                  <option value="1">OLDTOWN</option>
                  <option value="2">CVA</option>
                </select>
                <p *ngIf="submitted && f.phone.errors">LLC is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>