<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Make A Payment</h4>
      <p class="card-description">
        Payment Info:
      </p>
      <div class="row">
        <div class="col-md-12">

          <form class="form-sample col-md-12" [formGroup]="registerPayment" (ngSubmit)="onSubmitPayment()">
            <p class="card-description">
              Payment:
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Insurance MP:</label>
                    <select class="form-control" formControlName="ins_method" (change)="ValidateCashier()">
                      <option value="1">CASH</option>
                      <option value="2">DEBIT CARD</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.ins_method.errors"> Insurance MP is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Insurance Amount:</label>
                    <input class="form-control" formControlName="insurance_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="submittedPolicyForm && C.insurance_amount.errors"> Ins Amount is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Office Amount:</label>
                    <input class="form-control" formControlName="office_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="submittedPolicyForm && C.office_amount.errors"> Office Amount is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>ADC Method:</label>
                    <select class="form-control" formControlName="adc_method" (change)="ValidateCashier()">
                      <option value="1">CASH</option>
                      <option value="2">DEBIT CARD</option>
                      <option value="3">ADC DIRECT PAYMENT</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.adc_method.errors"> ADC Method is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>ADC Amount:</label>
                    <input class="form-control" formControlName="adc_amount" suffix=" $" mask="0*.00" />
                    <p *ngIf="submittedPolicyForm && C.adc_amount.errors"> ADC Amount is required</p>
                  </div>
                </div>
              </div>

            </div>
            <p class="card-description">
              Cashier:
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Cashier:</label>
                    <select class="form-control" formControlName="cashier">
                      <option value="0">--select--</option>
                      <option *ngFor="let item of cashiers" value="{{item.id}}">{{item.full_name}}</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.cashier.errors"> Cashier is required</p>
                  </div>
                </div>
              </div>
            </div>
            <p>Is Endorse:</p>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Select:</label>
                    <select class="form-control" formControlName="is_endrose" (change)="ValidateConcept()">
                      <option value="0">No</option>
                      <option value="1">Yes</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.is_endrose.errors"> Endrose is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Concept:</label>
                    <input class="form-control" formControlName="concept"  />
                    <p *ngIf="submittedPolicyForm && C.concept.errors"> Concept is required</p>
                  </div>
                </div>
              </div>

            </div>

            <p>Transaction:</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Type</label>
                    <select class="form-control" formControlName="type_transaction">
                      <option *ngFor="let item of payments_types" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && C.type_transaction.errors">Transaction is required</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>