<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employee List</h4>
      <p class="card-description">
      </p>
      <div class="row ">
        <div class="col-md-12 text-right">
          <a class="btn btn-success  " href="#/employees/form">New Employee <i class="mdi mdi-plus"></i></a>
          <a class="btn btn-primary  ml-1" href="#/employees/report">Report <i class="mdi mdi-plus"></i></a>
        </div>
      </div>

      <div class="table-responsive">
        <table  datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
          <thead >
            <tr class="header-table">
             
              <th>
                Full name
              </th>
              <th>
                Role
              </th>
              <th>
                Agency
              </th>
              <th>
                Hiring day
              </th>
              <th>

              </th>
            </tr>
          </thead >
          <tbody>
            <tr *ngFor="let item of listEmployees">
          
              <td>
                {{item.full_name}}
              </td>
              <td>
                {{item.role}}
              </td>
              <td>
                {{item.agency.name}}-{{item.agency.code}}
              </td>
              <td>
                {{item.create_date | date: 'MM/dd/yyyy'}}
              </td>
              <td>
                <a href="#/employees/permission/{{item.id}}" class="badge badge-danger ml-1">Permissions</a>
                <a href="#/employees/notes/goals/{{item.id}}" class="badge badge-danger ml-1">Goals</a>
                <a href="#/employees/notes/{{item.id}}" class="badge badge-danger ml-1">Notes</a>
                <a href="#/employees/form/{{item.id}}" class="badge badge-danger ml-1">View</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>