<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Permission List</h4>
      <p class="card-description">

      </p>


      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Description
              </th>
              <th>
                Value
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <td>
                {{item.Name}}
              </td>
              <td>
                {{item.Description}}
              </td>

              <td>
                <button *ngIf="item.val==0" (click)="UpdatePermision(item.id,1)"
                  class="badge badge-danger ml-1">Disabled</button>
                <button *ngIf="item.val==1" (click)="UpdatePermision(item.id,0)"
                  class="badge badge-success ml-1">Enabled</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>