<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Add Policy Status</h4>
      <p class="card-description">

      </p>
      <div class="row ">
        <div class="col-md-12 col-12">

          <form class="form-sample col-md-12" [formGroup]="registerPayment" (ngSubmit)="onSubmit()">
            <p class="card-description">
              Info:
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Requeriment:</label>
                    <select  class="form-control" formControlName="id_requeriment" >
                      <option *ngFor="let item of requeriments" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="registerPayment && C.id_requeriment.errors"> Requeriment  is required</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Status:</label>
                    <select class="form-control" formControlName="status" >
                      <option value="Pending">Pending</option>
                      <option value="Success">Sucess</option>
                      <option value="Not_required">Not Required</option>
                    </select>
                    <p *ngIf="registerPayment && C.status.errors"> Status  is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>