<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Edit Policy</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <div class="col-md-12">

          <form class="form-sample col-md-12" [formGroup]="registerPolicy" (ngSubmit)="onSubmiPolicy()">
            <p class="card-description">
              Insurance:
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">LLC</label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="id_llc" (change)="LoadCompanies()">
                      <option *ngFor="let item of llc_types" value="{{item.id}}">{{item.name}} </option>
                    </select>
                    <p *ngIf="submittedPolicyForm && p.id_llc.errors"> LLC is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Type</label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="id_policy_type">
                      <option *ngFor="let item of policy_types" value="{{item.id}}">{{item.name}} </option>
                    </select>
                    <p *ngIf="submittedPolicyForm && p.id_llc.errors"> LLC is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Company</label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="id_company">
                      <option value="0">--Select--</option>
                      <option *ngFor="let item of companies" value="{{item.id}}">{{item.name}} </option>
                    </select>
                    <p *ngIf="submittedPolicyForm && p.id_company.errors"> Company Name is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Policy #</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Policy #" formControlName="policy_number" />
                    <p *ngIf="submittedPolicyForm && p.policy_number.errors">Policy # is required</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Effective Date</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">

                        <input readonly type="text" class="form-control" formControlName="effective_date"
                          #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">


                      </div>
                    </div>
                    <p *ngIf="submittedPolicyForm && p.effective_date.errors">Effective is required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Membership #</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Membership #"
                      formControlName="membership_number" />
                    <p *ngIf="submittedPolicyForm && p.membership_number.errors">Membership is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Cancelation Date</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">
                        <input readonly type="text" class="form-control" formControlName="cancel_date"
                          #dp2="bsDatepicker" bsDatepicker [(bsValue)]="cancelDate">
                        <p *ngIf="submittedPolicyForm && p.cancel_date.errors">Cancel is required</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Expiration Date</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">

                        <input readonly type="text" class="form-control" formControlName="expiration_date"
                          #dp3="bsDatepicker" bsDatepicker [(bsValue)]="expDate">
                        <p *ngIf="submittedPolicyForm && p.expiration_date.errors">Expiration is required</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Pending Date</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">
                        <input readonly type="text" class="form-control" formControlName="pending_date"
                          #dp2="bsDatepicker" bsDatepicker [(bsValue)]="pending_date">
                        <p *ngIf="submittedPolicyForm && p.cancel_date.errors">Cancel is required</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">DUE Date</label>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">
                        <input readonly type="text" class="form-control" formControlName="due_date" #dp3="bsDatepicker"
                          bsDatepicker [(bsValue)]="due_date">
                        <p *ngIf="submittedPolicyForm && p.expiration_date.errors">Expiration is required</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Status</label>
                  <div class="col-sm-9">
                    <select type="text" class="form-control" formControlName="status" (change)="loadSubStatus()">
                      <option value="0">--Select--</option>
                      <option *ngFor="let item of status" value="{{item.id}}">{{item.name}}</option>
                    </select>

                    <p *ngIf="submittedPolicyForm && p.status.errors">Status is required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Sub Status</label>
                  <div class="col-sm-9">
                    <select type="text" class="form-control" formControlName="sub_status">
                      <option value="0">--Select--</option>
                      <option *ngFor="let item of sub_status" value="{{item.id}}">{{item.name}}</option>
                    </select>

                    <p *ngIf="submittedPolicyForm && p.status.errors">Sub Status is required</p>
                  </div>
                </div>
              </div>
            </div>
            <p>Dealer information:</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Dealer</label>
                  <div class="col-sm-9">
                    <select type="email" class="form-control" (change)="SelectDealer()" formControlName="id_dealer">

                      <option value="0">--Select--</option>
                      <option *ngFor="let item of dealers" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="submittedPolicyForm && p.id_dealer.errors">Dealer is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Seller name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Seller name" formControlName="seller_name" />
                    <p *ngIf="submittedPolicyForm && p.seller_name.errors">Seller is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Delivery Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Delivery Name"
                      formControlName="delivery_name" />
                    <p *ngIf="submittedPolicyForm && p.delivery_name.errors">Delivery is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>