<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="form-sample" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmit()">
        <p class="card-description">
          Goal info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                <p *ngIf="submitted && f.name.errors">Name is required</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">New Business</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" formControlName="nb" />
                <p *ngIf="submitted && f.name.errors">New Business is required</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">New ADC</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" formControlName="nb_adc" />
                <p *ngIf="submitted && f.name.errors">New ADC is required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Start date</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input readonly class="form-control" placeholder="yyyy-mm-dd" formControlName="start_date"
                      ngbDatepicker #d="ngbDatepicker" [minDate]="minDate">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary  fa fa-calendar" (click)="d.toggle()"
                        type="button"></button>
                    </div>
                  </div>
                </div>
                <p *ngIf="submitted && f.start_date.errors">Start Date is required</p>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">End date</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input readonly class="form-control" placeholder="yyyy-mm-dd" formControlName="end_date"
                      ngbDatepicker #d2="ngbDatepicker" [minDate]="minDate">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary  fa fa-calendar" (click)="d2.toggle()"
                        type="button"></button>
                    </div>
                  </div>
                </div>
                <p *ngIf="submitted && f.end_date.errors">End Date is required</p>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>