<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Vin</h4>
      <p class="card-description">
      </p>
      <div class="row">
        <div class="col-md-12">
          <form class="form-sample col-md-12" [formGroup]="registerCard" (ngSubmit)="onSubmit()">
            <p class="card-description">
              Vin Info:
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Vin Number</label>
                    <input type="text" class="form-control" placeholder="Vin Number" formControlName="vin_number"
                      mask="0*" />
                    <p *ngIf="submitted && f.vin_number.errors">Vin is required</p>
                  </div>
                </div>
              </div>
       
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>