<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.full_name}}</p>
            <div>
              <small class="designation text-muted">{{user.role}}</small>
              <span class="status-indicator online"></span>
            </div>

          </div>
        </div>

      </div>

    </li>

    <li class="nav-item">
      <div class="card">
        <div class="card-header" id="headingOne">

          <button class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#collapseOne1"
            aria-expanded="true" aria-controls="collapseOne">
            Customer
          </button>

        </div>

        <div id="collapseOne1" class="collapse" aria-labelledby="headingOne">
          <div class="card-body">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/search/customer" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Seach Customer</span>

                  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/new/customer" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">New Customer</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/new/customer" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">New Lead</span>
                </a>
              </li>




            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <div class="card-header" id="headingOne">
          <button *ngIf="permisions.admin==1" class="btn btn-danger col-md-12" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Admin
          </button>

        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
          <div class="card-body">
            <ul class="nav">
              <li *ngIf="permisions.employees==1" class="nav-item">
                <a class="nav-link" routerLink="/employees" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Employees</span>
                </a>
              </li>
              <li *ngIf="permisions.agencies==1" class="nav-item">
                <a class="nav-link" routerLink="/agencies" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Agencies</span>
                </a>
              </li>
              <li *ngIf="permisions.companies==1" class="nav-item">
                <a class="nav-link" routerLink="/companies" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Companies</span>
                </a>
              </li>
              <li *ngIf="permisions.dealers==1" class="nav-item">
                <a class="nav-link" routerLink="/dealers" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Dealers</span>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <button class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseOne">
            Marketing
          </button>

        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Map</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Report</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <div class="card-header" id="headingThree">
          <button class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseOne">
            Reports
          </button>

        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/report/sales" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Sales Whitout Dealer</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Sales Whit Dealer</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Notes Report</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="card">
        <div class="card-header" id="headingfour">
          <button class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="true" aria-controls="collapseOne">
            Retention
          </button>

        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingfour">
          <div class="card-body">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Report</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Summary</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/forms" routerLinkActive="active">
                  <i class="menu-icon mdi mdi-notification-clear-all"></i>
                  <span class="menu-title">Welcome Call</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>


  </ul>
</nav>