<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Upload File</h4>
      <p class="card-description">
      </p>
      <div class="row">
        <div class="col-md-12">

          <label class="fileContainer btn btn-danger">
            Select Files
            <input type="file" #attachments (change)="onFileChanged($event)" ngf [(files)]="files" multiple />
          </label>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    File
                  </th>
                  <th>
                    Type
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selected of listOfFiles;let index = index">
                  <td>
                    <h6>{{selected.file.name}}</h6>
                  </td>
                  <td>
                    <select [(ngModel)]="selected.type" name="fieldName" class="form-control col-md-4 ">
                      <option *ngFor="let item of types" value="{{item.id}}">{{item.name}}</option>
                    </select>
                  </td>
                  <td>
                    <button class="badge badge-danger ml-1" (click)="removeSelectedFile(index)">Delete</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-danger pull-right" (click)="SubmitUpload()">{{buttonText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>