.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit; 
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: -231%;
    text-align: right;
    top: 2px;
}

