<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="background-color: black;">
      <img src="./assets/images/logo_blc_vartical.png" id="icon" alt="User Icon" />

    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="register-form">
      <input type="number" id="code" class="fadeIn second" formControlName="code" placeholder="101"
        [ngClass]="{ 'is-invalid': submitted && f.code.errors }">

      <p *ngIf="submitted && f.code.errors">Agency code is required</p>
      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

      <p *ngIf="submitted && f.username.errors">Username is required</p>



      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <p *ngIf="submitted && f.password.errors">Password code is required</p>

      <button class="btn btn-danger mr-1">Login</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="wwww.buylowins.com">Go to the Site</a>
    </div>

  </div>
</div>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-triangle-path"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>