<div class="table-responsive">
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlCustomer">Customer</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlPayments">Payments</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlStatus">Status</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlFiles">Files</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlPhotos">Photos</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlNotes">Notes</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlBank">Bank</a>
  <a class="btn btn-info pull-left" style="color:white; margin: 2px;" [href]="urlVins">Vins</a>
  <a *ngIf="ShowBtn" class="btn btn-success pull-right" style="color:white; margin: 2px;"
    [href]="urlUpload">{{UploadText}}</a>
</div>