<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title"> Notes</h4>
      <p class="card-description">

      </p>
      <div class="row ">

        <div class="col-md-12 col-12 ">
          <div class="table-responsive">

            <app-bar-options [urlCustomer]="'#/customer/edit/'+ id_customer" [urlPayments]="'#/policy/payments/'+ id"
              [urlStatus]="'#/policy/status/'+ id" [urlFiles]="'#/policy/files/'+ id"  [urlVins]="'#/policy/vins/'+ id"
              [urlPhotos]="'#/policy/photos/'+ id" [urlNotes]="'#/policy/notes/'+ id" [urlBank]="'#/policy/bank/'+ id"
              [urlUpload]="'#/policy/new/note/'+id + '/0'" [UploadText]="'New Note'" [ShowBtn]="true">

            </app-bar-options>
          </div>
        </div>

        <div class="col-md-12 col-12 ">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    Create By
                  </th>
                  <th>
                    Task For
                  </th>

                  <th>
                    Policy Number
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Create Date
                  </th>
                  <th>
                    Status
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of notes">

                <tr>
                  <td>
                    {{item.user.full_name}}
                  </td>
                  <td>
                    {{item.userAsigned.full_name}}
                  </td>
                  <td>
                    {{item.policy.policy_number}}
                  </td>
                  <td>
                    {{item.noteType.name}}
                  </td>
                  <td>
                    {{item.create_date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <button [disabled]="isDisabled(user.id,item.userAsigned.id)" (click)="changeStatus(item)"
                      class="badge badge-info ml-1">{{getStatus(item.status_note)}}</button>
                  </td>
                  <td>
                    <a *ngIf="localPermissions.edit_note==1" class="badge badge-info ml-1"
                      href="#/policy/new/note/{{id}}/{{item.id}}">Edit</a>
                  </td>
                </tr>

                <tr>
                  <td colspan="7" innerHtml="{{item.note}}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>