<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Pay History</h4>
      <p class="card-description">

      </p>
      <div class="row ">
        <div class="col-md-12 col-12 ">
          <app-bar-options [urlCustomer]="'#/customer/edit/'+ id_customer" [urlPayments]="'#/policy/payments/'+ id"
            [urlStatus]="'#/policy/status/'+ id" [urlFiles]="'#/policy/files/'+ id" [urlPhotos]="'#/policy/photos/'+ id"  [urlVins]="'#/policy/vins/'+ id"
            [urlNotes]="'#/policy/notes/'+ id" [urlUpload]="'#/policy/new/payment/'+id" [urlBank]="'#/policy/bank/'+ id"  [UploadText]="'Payment'"
            [ShowBtn]="true">

          </app-bar-options>
        </div>
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="header-table">
                <tr>
                  <th>
                    Customer
                  </th>
                  <th>
                    Policy Number
                  </th>

                  <th>
                    Company
                  </th>
                  <th>
                    Create date
                  </th>
                  <th>
                    Total
                  </th>
                  <th>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of payments">
                  <td>
                    {{item.policy.customer.name | uppercase}} {{item.policy.customer.last_name | uppercase}}
                  </td>
                  <td>
                    {{item.policy.policy_number | uppercase}}
                  </td>
                  <td>
                    {{item.policy.company.name | uppercase}}
                  </td>
                  <td>
                    {{item.create_date | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    {{getSum(item.insurance_amount  , item.office_amount,item.adc_amount )| currency: 'USD': true}}
                  </td>
                  <td>
                    <!--href="http://localhost/new_mgtm/Back/web/index.php?r=ticket/render_ticket&id={{item.id}}"-->
                    <button class="badge badge-info ml-1" data-toggle="modal" data-target=".bd-example-modal-lg"
                      (click)="selectTicekt(item.id)">Invoice</button>
                    <a *ngIf="localPermissions.edit_payment==1" class="badge badge-info ml-1"
                      href="#/edit/ticekt/{{item.id}}">Edit</a>
                    <!--<button class="badge badge-danger ml-1" (click)="removeItem(item.id)">Delete</button>-->
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <iframe [src]="urlSafe" frameborder="0" style="width: 100%;" height="550" marginheight="0" marginwidth="0"
        id="pdf"></iframe>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>