<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <form class="form-sample" [formGroup]="registerDealerForm" (ngSubmit)="onSubmit()">
        <p class="card-description">
          Dealer info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                <p *ngIf="submitted && f.name.errors">Name is required</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Location</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="12324,3232132" formControlName="location" />

                <p *ngIf="submitted && f.location.errors">Location code is required</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Zone</label>
              <div class="col-sm-9">
                <select type="number" class="form-control" placeholder="101" formControlName="zone">
                  <option value="NORTH">NORTH</option>
                  <option value="SOUTH">SOUTH</option>
                  <option value="EAST">EAST</option>
                </select>

                <p *ngIf="submitted && f.zone.errors">Zone code is required</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>