<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Note</h4>
      <p class="card-description">

      </p>
      <div class="row ">
        <div class="col-md-12 col-12 ">

          <form class="form-sample" [formGroup]="registerAgencyForm" (ngSubmit)="onSubmit()">
            <p class="card-description">
              Note info
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Status:</label>
                    <select class="form-control" formControlName="id_note_type">
                      <option *ngFor="let item of types" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <p *ngIf="registerPayment && C.id_note_type.errors"> Status is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Follow Date</label>
                    <input readonly type="text" class="form-control" formControlName="follow_date" #dp3="bsDatepicker"
                      bsDatepicker>
                    <p *ngIf="registerPayment && C.follow_date.errors">Date is required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Task For:</label>
                    <select class="form-control" formControlName="id_user_asigned">
                      <option value="0">--Select--</option>
                      <option *ngFor="let item of employees" value="{{item.id}}">{{item.full_name}}</option>
                    </select>
                    <p *ngIf="registerPayment && C.id_user_asigned.errors">User is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <ckeditor class="col-md-12" [editor]="Editor" data="<p>Hello, world!</p>" formControlName="note">
              </ckeditor>

            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>