<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Edit Customer</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <div class="col-md-12">

          <form class="form-sample col-md-12" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmitEmployee()">
            <p class="card-description">
              Customer:
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                    <p *ngIf="submitted && f.name.errors">Name is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" />
                    <p *ngIf="submitted && f.last_name.errors">Last Name is required</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Ajo Way 505 " formControlName="address" />
                    <p *ngIf="submitted && f.address.errors">Address is required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Arizona" formControlName="state" />
                    <p *ngIf="submitted && f.state.errors">State is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Zip Code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="5896" formControlName="zipcode" />
                    <p *ngIf="submitted && f.zipcode.errors">Zip is required</p>
                  </div>
                </div>
              </div>

            </div>
            <p>Contact information:</p>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="example@domain.com" formControlName="email" />
                    <p *ngIf="submitted && f.email.errors">Email is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Phone" formControlName="phone"
                      mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                    <p *ngIf="submitted && f.phone.errors">Phone is required</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Home Phone</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Phone" formControlName="home_phone"
                      mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                    <p *ngIf="submitted && f.home_phone.errors">Home Phone is required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Work Phone</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Phone" formControlName="work_phone"
                      mask="(000)000-0000" [showMaskTyped]="true" placeHolderCharacter="*" />
                    <p *ngIf="submitted && f.work_phone.errors">Work Phone is required</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>