<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">Search Customer</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <div class="col-md-12">

          <form class="form-sample col-md-12" [formGroup]="searchEmployeeForm" (ngSubmit)="onSubmitForm()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="name" />

                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" />

                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Customer Number</label>
                    <input type="text" class="form-control" placeholder="Customer #" formControlName="customer_number"
                      mask="00000" />

                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label>Policy Number</label>
                    <input type="text" class="form-control" placeholder="Policy #" formControlName="policy_number" />

                  </div>
                </div>
              </div>


            </div>


            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-danger mr-2" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <h4 class="card-title">List</h4>
      <p class="card-description">

      </p>
      <div class="row">
        <div class="col-md-12">
          <ngb-accordion [closeOthers]="true" class="accordion" *ngFor="let customer of ListData">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle>
                <h6 class="mb-0">
                  {{customer.name | uppercase}} {{customer.last_name | uppercase}} -#{{customer.client_number}}
                </h6>
              </ng-template>
              <ng-template ngbPanelContent>

                <div class="row p-1">
                  <div class="col-md-12 separator">
                    Customer
                  </div>
                </div>

                <div class="col-md-12 ">
                  <div class="panel panel-info">
                    <div class="panel-body">
                      <div class="row">
                        <div class=" col-md-12 col-lg-12 ">
                          <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td><b>Client Number:</b></td>
                                <td> {{customer.client_number | uppercase}}</td>
                              </tr>
                              <tr>
                                <td><b>Name:</b></td>
                                <td> {{customer.name | uppercase}} {{customer.last_name | uppercase}}</td>

                              </tr>
                              <tr>
                                <td><b>Address:</b></td>
                                <td> {{customer.address | uppercase}} </td>
                              </tr>
                              <tr>
                                <td><b>State:</b></td>
                                <td>{{customer.state | uppercase}} </td>
                              </tr>


                              <tr>
                                <td><b>Zipcode:</b></td>
                                <td>{{customer.zipcode | uppercase}}</td>
                              </tr>
                              <tr>
                                <td><b>Phone:</b></td>
                                <td>{{customer.phone | uppercase}}</td>
                              </tr>
                              <tr>
                                <td><b>Home Phone:</b></td>
                                <td>{{customer.home_phone | uppercase}}</td>
                              </tr>
                              <tr>
                                <td><b>Work Phone:</b></td>
                                <td>{{customer.work_phone | uppercase}}</td>
                              </tr>
                              <tr>
                                <td><b>Email:</b></td>
                                <td>{{customer.email | uppercase}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-danger pull-left" target="_blank" href="#/customer/edit/{{customer.id}}"
                      style="color:white; margin: 2px;">Edit</a>
                  </div>
                </div>

                <div class="row p-1">
                  <div class="col-md-12 separator">
                    POLICIES:
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead class="header-table">
                          <tr>
                            <th>
                              Agent
                            </th>
                            <th>
                              Policy Number
                            </th>
                            <th>
                              Policy Type
                            </th>
                            <th>
                              Company
                            </th>
                            <th>
                              Create date
                            </th>
                            <th>
                              Status
                            </th>
                            <th>

                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of customer.policies">
                            <td>
                              {{item.user.full_name}}
                            </td>
                            <td>
                              {{item.policy_number}}
                            </td>
                            <td>
                              {{item.policyType.name}}
                            </td>
                            <td>
                              {{item.company.name | uppercase}}
                            </td>
                            <td>
                              {{item.create_date | date: 'MM/dd/yyyy'}}
                            </td>

                            <td>
                              {{item.status0.name | uppercase}} - {{item.subStatus.name | uppercase}}
                            </td>
                            <td>
                              <a href="#/policy/edit/{{item.id}}" target="_blank"
                                class="badge badge-primary ml-1">View</a>
                              <a href="#/policy/status/{{item.id}}" class="badge badge-info ml-1">Status</a>
                              <a href="#/policy/files/{{item.id}}" class="badge badge-info ml-1">Files</a>
                              <a href="#/policy/payments/{{item.id}}" target="_blank"
                                class="badge badge-info ml-1">Payment History</a>
                              <a href="#/policy/makepayment/{{item.id}}" target="_blank"
                                class="badge badge-success ml-1">Make A Payment</a>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>


          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-triangle-path" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>