
.header-table{
    background-color: #e65251;
    color: white;
}
.separator{
    border-bottom: 2px solid #d7d7d7;
    color: #0c0c0c;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}